<nav role="navigation">
  <ul>
    <li><a href="/" {% if page.url == "/" %}class="active"{% endif %}>HOME</a></li>
    <li><a href="/about" {% if page.url == "/about" %}class="active"{% endif %}>About</a></li>
    <li><a href="/spaces" {% if page.url == "/spaces" %}class="active"{% endif %}>Terrestrial Spaces</a></li>
    <li><a href="/outerspace" {% if page.url == "/outerspace" %}class="active"{% endif %}>Outer Space</a></li>
    <li><a href="/record" {% if page.url == "/record" %}class="active"{% endif %}>Record</a></li>
    <!-- <li><a href="/notes" {% if page.url == "/notes" %}class="active"{% endif %}>Notes</a></li> -->
    <!-- <li><a href="/communities" {% if page.url == "/communities" %}class="active"{% endif %}>Communities</a></li> -->
  </ul>
</nav>
